@media (max-width: 2000px) {
  body {
    background-size: 880px;
  }
}

@media (max-width: 1700px) {
  body {
    background-size: 800px;
  }
}

@media (max-width: 1550px) {
  body {
    background-size: 750px;
  }
}

@media (max-width: 1440px) {
  body {
    background-size: 700px;
  }
}

@media (max-width: 1330px) {
  body {
    background-size: 650px;
  }
}

@media (max-width: 1220px) {
  body {
    background-size: 600px;
  }
}

@media (max-width: 1100px) {
  body {
    background-position-x: -100px;
  }
}
