@media (max-width: 1150px) {
  .container {
    width: 950px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 850px;
  }

  //Sobre
  .sobre-web-design {
    //figcaption
    figcaption {
      //img
      img {
        width: 600px;
      }
      //end img
    }
    //end figcaption
  }
  //end Sobre
}

@media (max-width: 915px) {
  body {
    background-position: left top;
    background-color: $color-quartenaria;
  }

  .container {
    width: 600px;
  }

  .row {
    flex-direction: column;
  }

  //header
  header {
    //nav
    nav {
      margin: 30px 0;
    }
    //end nav
  }
  //end header

  //Sobre
  .sobre-web-design {
    //article
    article {
      width: 100%;
    }
    //end article

    //Fig
    figcaption {
      //Img
      img {
        width: 100%;
        margin: 30px 0 0 0;
      }
      //end Img
    }
    //end Fig
  }
  //end Sobre

  //Footer
  footer {
    //row
    .row {
      flex-direction: row;
      justify-content: center;
    }
    //row
  }
  //end Footer
}

@media (max-width: 665px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .container {
    width: 290px;
  }

  //header
  header {
    //nav
    nav {
      background: $color-branco;
      width: 100%;
      padding: 10px 0 20px;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);

      //ul
      ul {
        flex-direction: column;
        //li
        li {
          margin: 10px 0;
        }
        //end li
      }
      //end ul
    }
    //end nav
  }
  //end header
}
