header {
  width: 1024px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

header nav ul li {
  padding: 0px 15px;
}
